#EditControl
  .controls
    span Eyes
    .controlCollection
      label( for="editEyeColor" ) Color
      input#changeEyeColor( type="color" )
      br
      label( for="editLeftEye") left
      input#editLeftEye( type="checkbox", checked )
      label( for="editRightEye") right
      input#editRightEye( type="checkbox", checked )
    span Mouth
    .controlCollection
      button#toggleControlPoints Edit
  .unfolder Edit
script( type="text/javascript", src="/javascripts/PathControl.js" )
:coffeescript
  window.saveSmile = ( context, data ) ->
    data = 
      leftEye:
        x: $("#newPost .smile .left .iris").attr("cx")
        y: $("#newPost .smile .left .iris").attr("cy")
        fill: $("#newPost .smile .left .iris").attr("fill")
      rightEye:         
        x: $("#newPost .smile .right .iris").attr("cx")
        y: $("#newPost .smile .right .iris").attr("cy")
        fill: $("#newPost .smile .right .iris").attr("fill")
      mouth:
        outline: $("#newPost .smile .outline").attr( "d" )
  $(document).ready ->
    $("#changeEyeColor").change ->
      $("#newPost .smile .left .iris" ).attr "fill", $("#changeEyeColor").val() if $("#editLeftEye:checked").length isnt 0
      $("#newPost .smile .right .iris").attr "fill", $("#changeEyeColor").val() if $("#editRightEye:checked").length isnt 0
    MouthOutlineControl = new PathControl("#newPost .smile .outline", 300)
    $(MouthOutlineControl.visual).hide()
    $("#toggleControlPoints").click -> $(MouthOutlineControl.visual).toggle()
  
    lastX = undefined
    lastY = undefined
    dragging = undefined

    $(".eyes").css "pointer-events", "all"

    moveEye = ( side, x, y ) ->
      center_x = Number($("#newPost .smile .#{side}  .iris").attr( "cx" ))
      center_y = Number($("#newPost .smile .#{side} .iris").attr( "cy" ))
      eye_x = Number($("#newPost .smile .#{side} .ball").attr( "cx" ))
      eye_y = Number($("#newPost .smile .#{side} .ball").attr( "cy" ))
      dist =  Math.sqrt( Math.pow( center_x - eye_x + x , 2 ) + Math.pow( center_y - eye_y + y, 2 ) )
      max_dist =  Math.abs( Number($("#newPost .smile .#{side} .ball").attr( "r" )) - Number($("#newPost .smile .#{side} .iris").attr("r") ))
      if dist <= max_dist
        $("#newPost .smile .#{side} .center *").each (idx, el) -> 
          $(el).attr 
            cx: center_x + x 
            cy: center_y + y 
    movingEye = false
    $(".eyes").mousedown ->
      lastX = event.clientX
      lastY = event.clientY  
      movingEye = true
    $(".eyes").mousemove ->
      if movingEye
        dx = (event.clientX - lastX) / 300
        dy = (event.clientY - lastY) / 300
        moveEye "left",  dx, dy if $("#editLeftEye:checked").length isnt 0
        moveEye "right", dx, dy if $("#editRightEye:checked").length isnt 0
      lastX = event.clientX
      lastY = event.clientY
    $(".eyes").bind "mouseout mouseup", -> movingEye = false 


   
